body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}
* {
  box-sizing: border-box;
}
.header {
  width: 800px;
  height: 217.6px;
  background-color: #fff;
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-top: 80px;
}
.nav {
  background-color: gray;
  height: 45.6px;
  position: sticky;
  top: 0;
}
.nav a {
  text-decoration: none;
  color: white;
}
.facebook {
  display: inline-block;
  margin-left: 44.2%;
  padding: 10px;
  margin-right: 10px;
}
.instagram {
  display: inline-block;
}
.main-wrapper {
  width: 800px;
  margin: auto;
  margin-top: 10px;
}
.main {
  width: 74%;
  display: inline-block;
}
.item {
  margin-bottom: 70px;
  height: 250px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}
.item img {
  margin-right: 5px;
  margin-bottom: -8px;
}
.aside {
  width: 24.4%;
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  margin-left: 8px;
  text-align: center;
  height: 180px;
  padding-top: 40px;
  position: sticky;
  top: 60px;
}
.footer {
  background-color: #808080;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: -50px;
}
