.menu-top {
  background: red;
  margin: auto;
  width: 92%;
  top: 0;
  left: 3.5%;
  position: fixed;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu-top a {
  display: inline-block;
  padding: 20px;
  color: black;
}
.active {
  background: blue;
  color: white !important;
}
.menu-top {
  word-spacing: -1ch;
}
.menu-top a {
  word-spacing: normal;
}
.menu-top a:hover {
  background: purple;
  color: white;
}
.menu-main {
  color: gray;
  margin-top: 70px;
}
.menu-item {
  width: 200px;
  position: relative;
  word-spacing: normal;
  vertical-align: top;
}

.menu-item:hover .menu-link {
  background-color: yellow;
  color: black;
}
.menu-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: pink;
  color: white;
}
.menu-item:hover > .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  background: green;
  padding-left: 0;
  width: 100%;
}
.sub-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.sub-item:hover > .sub-link {
  background-color: red;
  color: black;
}
.sub-item:hover > .sub-menu {
  display: block;
}
.menu-main {
  display: flex;
}
.menu-main img {
  margin-top: 18px;
  width: 80%;
  height: 100%;
}
.list1 {
  display: flex;
  margin-left: 20px;
  margin-bottom: 30px;
}
.pic1 {
  margin-left: 30px;
  border: 2px solid black;
}
.pic1 img {
  width: 320px;
}
.pic1 a {
  text-align: center;
  font-weight: bold;
  display: block;
}
.pic1 p {
  text-align: center;
}
.footer {
  text-align: center;
  background: gray;
  height: 50px;
  padding-top: 1px;
}
.footer p {
  margin-top: 200px;
}
.icon img {
  width: 80px;
  float: right;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.modal-content {
  width: 300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 20px;
}
.modal-content img {
  width: 100%;
}
