/* Style chung chung */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Class chung */
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

/* Direction */
.flex.column {
  flex-direction: column;
}

/* Justify */
.flex.j-start {
  justify-content: flex-start;
}

.flex.j-end {
  justify-content: flex-end;
}

.flex.j-center {
  justify-content: center;
}

.flex.j-between {
  justify-content: space-between;
}

/* Align */
.flex.a-start {
  align-items: flex-start;
}

.flex.a-end {
  align-items: flex-end;
}

.flex.a-center {
  align-items: center;
}
li {
  list-style: none;
}

.header {
  padding: 25px;
}
.logo {
  margin-left: 18%;
}
.menu {
  margin-left: 70px;
}
.menu li {
  padding: 15px;
}
.cart {
  margin-left: 40px;
}
.cart li {
  padding: 10px;
}
a {
  color: black;
}
.nav1 {
  background: #050827;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  background: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a58aaecdfba_Header-Pic.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: contain;
  background-position: center bottom;
  text-align: center;
  color: white;
  padding-top: 150px;
}
.container p {
  padding: 10px;
  font-size: 12px;
}
.container p:nth-child(2) {
  font-size: 45px;
}
.container p:nth-child(3) {
  font-size: 18px;
}
.container button {
  margin-top: 25px;
  padding: 20px;
  cursor: pointer;
}
.nav2 {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 100px;
  text-align: center;
}
.nav2 .title {
  font-size: 30px;
}
.nav2 .nd {
  width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  font-size: 16px;
}
.nav2 .foot {
  margin: auto;
  width: 135px;
  margin-top: 45px;
  color: chocolate;
  font-size: 16px;
  border-bottom: 2px solid rgb(214, 203, 196);
  cursor: pointer;
  padding-bottom: 2px;
}

.nav2 .foot:hover {
  border-bottom: 2px solid chocolate;
}

.main1 .foot-nav {
  width: 238px;
  margin-top: 100px;
  color: gray;
  margin-left: auto;
  margin-right: auto;
}
.line {
  width: 35px;
  height: 2px;
  background-color: gray;
  margin-top: 7px;
}
.main1 .foot-nd {
  padding-left: 15px;
  padding-right: 15px;
}

.main1-sp {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.main1-sp img {
  width: 460px;
}
.img-main1 {
  position: relative;
}
.img-main2 {
  margin-left: 20px;
  position: relative;
}

.main1-nd {
  margin-top: 40px;
  text-align: center;
}
.main1-nd p {
  padding: 5px;
}
.main1-nd p:nth-child(2) {
  color: gray;
}
.redbul {
  color: red;
}
.gach1 {
  margin-left: 10px;
}
.gach {
  height: 1px;
  width: 85px;
  background: gray;
  position: absolute;
  bottom: 2.5%;
  right: 34%;
}
.ab-but1 {
  position: absolute;
  top: 390px;
  left: 10px;
  width: 440px;
  background: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: none;
  cursor: pointer;
}
.ab-but2 {
  position: absolute;
  top: 390px;
  left: 10px;
  width: 440px;
  background: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: none;
  cursor: pointer;
}

.img1-main1:hover .ab-but1 {
  display: block;
}

.img2-main2:hover .ab-but2 {
  display: block;
}

.more-products {
  color: gray;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.more-products .line {
  margin-top: 33px;
}
.pro-title {
  padding-left: 5px;
  padding-right: 5px;
}

.product-image {
  margin: auto;
  margin-top: 100px;
  width: 940px;
}
.pro-image {
  flex-basis: 33.33%;
  padding: 5px;
  position: relative;
  margin-top: 50px;
}
.button {
  position: absolute;
  bottom: 23%;
  left: 5%;
  width: 90%;
  background: gray;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  display: none;
  cursor: pointer;
  color: white;
}
.pro-image:hover .button {
  display: block;
}
.sale {
  position: absolute;
  background: gray;
  padding: 10px;
  right: 10px;
  top: 10px;
  color: white;
}
.pro-title {
  margin-top: 25px;
  text-align: center;
}
.price-pro {
  text-align: center;
  margin-top: 15px;
}
.price-pro .fix {
  margin-left: 10px;
}
.pro-image .line {
  position: absolute;
  bottom: 14px;
  right: 77px;
  width: 85px;
}
.button1 {
  position: absolute;
  bottom: 55%;
  left: 5%;
  width: 90%;
  background: wheat;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: none;
  cursor: pointer;
  color: white;
}
.pro-image:hover .button1 {
  display: block;
}

.nav3 {
  background: black;
  margin: auto;
  color: white;
  text-align: center;
  padding-top: 80px;
  height: 300px;
}
.footer .sub-item {
  font-size: 12px;
  color: gray;
}
