table,
tr {
  border: 1px solid gray;
}
table {
  border-collapse: collapse;
}
tbody tr:nth-child(2n + 1) {
  background-color: rgb(235, 229, 229);
}
th,
td {
  width: 200px;
  padding: 10px;
}
img {
  width: 25px;
  border-radius: 25px;
  margin-right: 10px;
}
th {
  text-align: left;
}
table {
  margin: auto;
}
td img {
  margin-bottom: -5px;
}
