/* h1 {
  color: chocolate;
  background-color: aqua;
} */

p {
  color: brown;
  background-color: azure;
}

p,
li,
a {
  font-size: 15px;
  text-decoration: none;
}
.red {
  color: red;
}
.size30 {
  font-size: 30px;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
p.red {
}

a[href="https://google.com"]
{
  color: pink;
}
