/* style chung chung */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
/* class chung */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
/* Direction */
.flex.column {
  flex-direction: column;
}

/* Justify */
.flex.j-start {
  justify-content: flex-start;
}
.flex.j-center {
  justify-content: center;
}
.flex.j-end {
  justify-content: flex-end;
}
.flex-j.between {
  justify-content: space-between;
}
/* ALign */
.flex.a-start {
  align-items: flex-start;
}
.flex.a-end {
  align-items: flex-end;
}
.flex.a-center {
  align-items: center;
}
.post-wrap {
  flex-basis: 25%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.post-image {
  flex-basis: 50%;
  padding-left: 10px;
}
.post-description {
  flex-basis: 50%;
}
