/* :root {
  --red: rgb(211, 62, 62);
  --line-height: 1.5;
}

h1 {
  color: var(--red);
  background-color: aqua;
  transform: translate(50%, 50%) scale(2) rotateX(135deg);
  backface-visibility: visible;
  transition: all 0.5s 1s;
}

h1:hover {
  transform: rotateX(360deg);
}

p {
  color: var(--red);
}

body {
  background-image: linear-gradient(to right bottom, yellow, blue);
  min-height: 100vh;
} */
